html {
  font-size: 62.5%; /* 16px (Default size of all browsers) x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh; /*means the height of this element is equal to 100% of the viewport (Browser window) height. */
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

/* Responive code */

@media only screen and (max-width: 770px) {
  html {
    font-size: 30%;
  }
}

@media only screen and (max-width: 485px) {
  html {
    font-size: 20%;
  }
}

/*  Layout  */
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr; /* There is only one column. No side bar etc */
  grid-template-rows: 7.5rem 1fr 8rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: #131921;
}

main {
  grid-area: main;
  /* padding: 1rem; */
}

footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffff;
}

/* Header */

.header {
  background-color: #131921;
  display: flex;
  align-items: center;
  /* position: sticky; */
  top: 0;
  z-index: 100;
  height: 7.5rem;
  justify-content: space-between;
}

.header__logo {
  width: 12rem;
  object-fit: contain;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__link {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1.2rem;
}

.header_option {
  display: flex;
  flex-direction: column;
  margin-left: 0.7rem;
  margin-right: 0.7rem;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cart__icon {
  margin-bottom: 0.3rem;
}

.header__basketCount {
  font-size: 1.2rem;
  margin-right: -1.4rem;
  margin-bottom: -1.5rem;
  z-index: 2;
}

.header__optionLineOne {
  font-size: 1.4rem;
  line-height: 0.1rem;
  height: 1.4rem;
  font-weight: 550;
  padding: 0 0.1rem;
  margin: 0;
}

.header__optionLineTwo {
  font-size: 1.7rem;
  line-height: 1.2rem;
  font-weight: 700;
}

.header__name {
  color: #ccc;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
}

.header__searchInput {
  height: 1.2rem;
  padding: 1.5rem;
  border: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
}

.header__searchIcon {
  padding: 1rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  height: 2.2rem !important;
  background-color: #f0b240;
}

.header__cart {
  font-size: 1.5rem;
  font-weight: 800;
  margin-top: 1.9rem;
  margin-right: 1.5rem;
}

/* Home */
.home {
  background-color: rgb(234, 237, 237);
  margin: 0;
}

.home__image {
  width: 100%;
  mask-image: linear-gradient(
    to bottom,
    rgb(0, 0, 0) 30%,
    rgba(0, 0, 0, 0) 100%
  );
}

.product__imageContainer {
  align-items: center;
  background-color: white;
  margin: auto;
}

.product__image {
  max-width: 35rem;
  width: 100%;
  padding: 0.1rem;
  border-radius: 0.5rem;
  max-height: 39rem;
}

.product__card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #ffffff;
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: 52rem;
  margin: 3rem;
}

.product__description {
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.carousal__banner {
  margin-bottom: -30rem;
}

/* Product Screen */
.product__screen {
  padding: 4rem 10rem;
}

.page {
  padding: 2rem;
}

/* common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ff8000;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin-top: 1rem;
}

input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background-color: #f8f8f8;
  cursor: pointer;
}

input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}

button.primary {
  background-color: #f0c040;
}

button.block {
  width: 100%;
}

header a {
  color: #ffffff;
  /* padding: 1rem; */
}

/* a.brand {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
} */

.badge {
  background-color: #131921;
  color: #ff8000;
  border-radius: 50%;
  border-bottom-left-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 2rem;
  font-weight: bold;
  margin-left: -1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}

.row.top {
  align-items: flex-start;
}

.col-1 {
  flex: 1 1 25rem;
}

.col-2 {
  flex: 2 1 50rem;
}

.min-30 {
  min-width: 30rem;
}

/* Image */
img {
  /* border-radius: 0.5rem; */
}

img.small {
  max-width: 10rem;
  width: 100%;
}

img.medium {
  max-width: 29rem;
  width: 100%;
  padding: 0.1rem;
}

img.large {
  max-width: 50rem;
  width: 100%;
}

/* Card */
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
  z-index: 1;
}

.card-body {
  padding: 1rem;
}

.card-body > * {
  margin-bottom: 0.5rem;
}

.subtotal__gift {
  display: flex;
  align-items: center;
}

.cart__banner {
  max-width: 110rem;
}

.cart__screen {
  padding: 2rem;
}

.cart__header {
  font-size: 3rem;
  padding: 1rem;
  border-bottom: 0.1rem solid lightgray;
}
.price {
  font-size: 2rem;
}

/* Rating */
.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fa {
  color: #f0c040;
  margin: 0.2rem;
}

.reviews {
  margin-left: 0.5rem;
}

/* Alert */
.loading {
  display: block !important;
}

.success {
  color: #20a020;
}

.error {
  color: #a02020;
}

.danger {
  padding: 1 rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
  color: #a02020;
}

.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}

.alert-danger {
  color: #a02020;
  background-color: #ffe0e0e0;
}

.form {
  max-width: 60rem;
  margin: 0 auto;
}

.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.form label {
  margin: 1rem 0;
}

/* Sign in */
.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.login__logo {
  margin-top: 2rem;
  object-fit: contain;
  width: 20rem;
  margin-right: auto;
  margin-left: auto;
}

.login__container {
  width: 40rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border: 0.1rem solid lightgrey;
  border-radius: 0.5rem;
  padding: 0.2rem;
}

.login__title {
  font-weight: 550;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.register__title {
  font-weight: 550;
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}

/* dropdown */
.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #131921;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Checkout-Steps */
.checkout-steps {
  padding: 1rem;
}

.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}

.checkout-steps > div.active {
  border-top-color: #f08000;
  color: #f08000;
}

.confirmed {
  color: #f0c040;
}

/* table */
table {
  width: 100%;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}

.placed_order {
  max-width: 50rem;
  margin: auto;
  margin-top: 2rem;
}

/* Payment */

.payment__logo {
  width: 8rem;
}

/* Radio buttons */
.checkmark {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
  background-color: #eee;
  border-radius: 50%;
}

